<div id="policy-form">
  <div class="header">
    <h2 mat-dialog-title>{{ !this.policy.id ? "Create" : "Update" }} Policy</h2>
  </div>

  <mat-dialog-content class="mat-typography">
    <div class="generic-fields">
      <div class="form-fields">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Cluster</mat-label>
          <mat-select
            required
            [disabled]="!!policy.id"
            [(ngModel)]="policy.clusterId"
          >
            <mat-option *ngFor="let cluster of clusters" [value]="cluster.id">
              {{ cluster.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Type</mat-label>
          <mat-select
            required
            [disabled]="!!policy.id"
            [(ngModel)]="policy.type"
            (selectionChange)="resetTypeSpecificFom($event)"
          >
            <mat-option *ngFor="let type of types" [value]="type">
              {{ type }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="policy.type === 'Daily Limit'" class="type-specific-form">
      <div id="daily-limit">
        <p><strong>Maximum cluster outflows in one day</strong></p>
        <p>
          Check that business expenses or portfolio trading is within limits
        </p>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>MATIC</mat-label>
          <input
            matInput
            type="number"
            min="0"
            required
            [(ngModel)]="policy.rules.max"
          />
        </mat-form-field>
      </div>
    </div>

    <div *ngIf="policy.type === 'Transaction Limit'" class="type-specific-form">
      <div id="transaction-limit">
        <p><strong>Maximum amount per transaction</strong></p>
        <p>
          Check that individual transactions per wallet do not exceed limits
        </p>

        <mat-form-field appearance="fill" class="form-field">
          <mat-label>MATIC</mat-label>
          <input
            matInput
            type="number"
            min="0"
            required
            [(ngModel)]="policy.rules.max"
          />
        </mat-form-field>
      </div>
    </div>

    <div class="addresses">
      <div class="add-addresses">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Recipient email</mat-label>
          <input matInput [(ngModel)]="currentAddedAddress" />
        </mat-form-field>
        <mat-icon class="button" (click)="addAddress()">add</mat-icon>
      </div>

      <mat-table
        [dataSource]="policy.recipients"
        class="addresses"
        class="mat-elevation-z0"
      >
        <ng-container matColumnDef="email address">
          <mat-header-cell *matHeaderCellDef>Recipients</mat-header-cell>
          <mat-cell *matCellDef="let address">{{ address }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="remove">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let address" class="remove-cell"
            ><mat-icon class="remove-icon" (click)="removeAddress(address)"
              >remove</mat-icon
            ></mat-cell
          >
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
  </mat-dialog-content>

  <div class="buttons">
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button
        mat-button
        [mat-dialog-close]="true"
        (click)="delete()"
        *ngIf="!!policy.id"
      >
        Delete
      </button>
      <button
        mat-button
        [mat-dialog-close]="true"
        cdkFocusInitial
        [disabled]="FormValid()"
        (click)="save()"
      >
        Save
      </button>
    </mat-dialog-actions>
  </div>
</div>
