<div id="landing">
	<mat-toolbar class="mat-elevation-z8">
		<img src="assets/images/Kagami_Logo_G.png" class="main-header">

		<span class="spacer"></span>
		<!-- Content displayed to the right of the toolbar goes here -->
		<button
			mat-stroked-button
			color="primary"
			class="primary-button"
			(click)="logIn()"
		>
			Connect
		</button>
	</mat-toolbar>

		<div id="jumbo">
			<span><strong>Monitoring Clusters of</strong></span>
		</div>
		<div id="wallets">
			<span><strong>Wallets</strong></span>
		</div>
		<div id="columns">
			<div id="row">
				<div class="column">
					<div class="image"><img src="assets/images/1.png"></div>
					<div class="text">Nominate a cluster</div>
				</div>
				<div class="column">
					<div class="image"><img src="assets/images/2B.png"></div>
					<div class="text">Set policies and limits</div>
				</div>
				<div class="column">
					<div class="image"><img src="assets/images/3-1.png"></div>
					<div class="text">Notify when these are exceeded</div>
				</div>
			</div>
		</div>
</div>
